// 这是自动生成的文件，可以修改。
.Template {
	width: 100%;
	padding: 15px 30px;
	background: #fff;
	@at-root {
		.item {
			margin-top: 14px;
			margin-bottom: 20px;
		}
		.item-received {
			margin-top: 14px;
			margin-bottom: 0;
		}
		.btn {
			// margin-bottom: 20px;
			:global {
				.ant-btn {
					width: 120px;
					height: 40px;
					margin-right: 20px;
				}
			}
		}
	}
	:global {
		.ant-select-selection {
			height: 40px;
		}
		.ant-select-selection__rendered {
			height: 40px;
		}
		.ant-select-selection-selected-value {
			line-height: 40px;
		}
		.ant-input {
			height: 40px;
		}
		.ant-form-item-control {
			line-height: 0;
		}
		.ant-form-item {
			margin-bottom: 30px;
		}
		.ant-btn {
			margin-bottom: 20px;
		}
		// .ant-btn-primary {
		// 	margin-right: 10px;
		// }
	}
}
