
$defaultMainColor: #D56C14 !default;
$themeName 						: dark 			light 			blue 			green 			red!default;
// 菜单配置
$mhbgc: lighten(#1f3c69, 20%); // $menuHoverBgColor
// 左边菜单栏背景色配置
$siderBgColor					: #1f3c69 		#fff  			blue 			green 			red;
// 左边菜单栏容器背景色
$menuBgColor					: #1f3c69 		#fff  			blue 			green 			red;
// 二级菜单栏背景色
$subMenuBgColor					: #1f3c69 		#fff  			blue 			green 			red;
// 菜单元素背景色
$menuItemBgColor				: #1f3c69 		#fff  			blue 			green 			red;
// 菜单元素激活时或hover时的背景色
$light-hoverBgC: rgba(233,233,233,0.9);
$menuItemActiveBgColor			: $mhbgc 		  #f6f6f6  		  blue 		   	  green 		  red;
// 菜单左边框hover时的配置
$menuItemBorderLeftHoverColor	: #1f3c69 		$defaultMainColor blue 			  green 		  red;
// 菜单元素字体色
$menuItemColor					: #ccc	 		#696969  		blue 			green 			red;
// 菜单元素hover时的字体色
$menuItemHoverColor				: #fff 			$defaultMainColor blue 			  green 		  red;

