@import '~@utils/styles/func';
// 这是自动生成的文件，可以修改。
.template {
	width: 100%;
	padding: 15px 10px;
	background: #fff;
	:global {
		.ant-col-12 {
			margin-bottom: 50px;
		}
		.ant-col-sm-5 {
			display: block;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			width: 35.833333%;
		}
		.ant-form-item-label label {
			color: #2d2d2d;
		}
	}
	.formDetail {
		padding-top: 30px;
	}
	.antdInput {
		width: 150px;
	}
	.defaultColor {
		color: #d56c14;
	}
	.itemBut {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		margin-top: 60px;
		.butClass {
			margin-right: 10px;
		}
	}
	.upLoads {
		margin-top: 30px;
	}
}
